.container {
  /*max-width: 375px;*/
  margin-left: auto;
  margin-right: auto;
  padding: 100px 20px 30px 20px;
}

.questionsForm {
  width: 100%;
  display: flex;
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  padding: 0 0 20px 0;
  background-color: #414ce6;
  flex-direction: column;
}

.content {
  text-align: center;
  background-color: #414ce6;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputWrapper {
  flex: 1;
  /*max-width: 355px;*/
  padding: 0 20px;
  margin-bottom: 15px;
}

.questionsTitle {
  margin-top: 15px;

  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.questionsDesc {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-size: 12px;
  font-weight: 400;
  color: #fff;
}

.inputsContainer {
  text-align: center;
  background-color: #f55300;
}

.name,
.tel,
.email {
  padding: 13px;
  background-color: #c4c7f1;
  font-size: 16px;
  line-height: 130%;
}

.btn {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;

  border: 1px solid #fff;
  border-radius: 25px;

  background-color: transparent;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.arr {
  transform: scale(0.6);
}

@media screen and (min-width: 1069px) {
  .container {
    max-width: 768px;
  }

  .inputWrapper {
    min-width: auto;
  }
}


@media screen and (min-width: 1441px) {
  .container {
    display: flex;
    justify-content: center;
    max-width: 1600px;
  }

  .questionsTitle {
    font-size: 45px;
  }

  .questionsDesc {
    

    font-size: 17px;
  }

  .name,
  .tel,
  .email {
    padding: 13px 20px 13px 20px;
    font-size: 26px;
  }

  .inputsContainer {
    margin-bottom: 20px;
  }

  .btn {
    padding: 10px 20px 10px 20px;

    font-size: 12px;
    font-weight: 600;
  }
}
