$black: #000;
$white: #fff;

$blue500: #615aff;
$blue200: #92d0ff;

$gray50: #f6f6f6;
$gray200: #d9d9d9;
$gray300: rgba(217, 217, 217, 0.5);
$gray400: rgba(246, 246, 246, 0.5);
$gray450: rgb(134 134 134);
$gray600: rgba(246, 246, 246, 0.2);
$gray700: #444444;
$gray800: #272727;
$gray900: #171717;

$yellow500: #ffe500;

$orange500: #f55300;

$green500: #56C984;

$pink500: #FFCADC;

$purple500: #9858E2;