.selectWrapper {
  z-index: 2;
  top: 150px;
  left: 350px;
  position: absolute;
  display: inline-flex;
  appearance: none;
  background-color: transparent;
}

.select {
  background-color: transparent;
  color: aliceblue;
}

@media screen and (max-width: 1440px) {
  .selectWrapper {
    z-index: 2;
    top: 120px;
    right: 150px;
    position: absolute;
  }
}
@media screen and (max-width: 1069px) {
  .selectWrapper {
    z-index: 2;
    top: 50px;
    right: 50px;
    position: absolute;
  }
}

