.select {
  z-index: 2;
  top: 50px;
  right: 200px;
  position: absolute;
  display: inline-flex;
  appearance: none; 
  background-color: transparent; 
    
}

@media screen and (max-width: 1050px) {
  .select {
    z-index: 2;
    top: 50px;
    right: 50px;
    position: absolute;
  }
}

